
	<!--gotop-->
	<a class="gotop radius5" href="#">
		<img src="/Static/images/icon/icon_gotop.png" /> 
	</a>
	<div class="script" style="display:none">
		<script type="text/javascript" src="/Static/default/js/jquery.cookie.js"></script>
 		<script type="text/javascript" src="/Static/artDialog/artDialog.js"></script>
		<script type="text/javascript" src="/Static/artDialog/plugins/iframeTools.js"></script>
		<script type="text/javascript" src="/Static/shop/js/shop.js"></script>
		<script src="http://a.tbcdn.cn/apps/top/x/sdk.js?appkey={$smarty.const.TB_APP_KEY}"></script>
		{literal}
		<script type="text/javascript">
		 var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-37743858-1']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s)})();
		   //$('.dropdown-toggle').dropdown();
		</script>
		{/literal}
	</div>
	<div class="clearfix" id="footer">
		<div class="wrapper">
			<a class="btlogo fl" href="/" title="快推网络--比价返利平台">
				<img src="/Static/images/logo3.png" style="width:120;height: 54px;"></a>
			<p class="btlink">
				<a href="#">关于快推网络</a>
				<a href="#">使用帮助</a>
				<a href="#">用户反馈</a>
			</p>
			<p>
				<span class="colorless">备案信息:鲁ICP备12023078号-2。版权所有快推网络</span>
			</p>
		</div>
	</div>
</body>
</html>