<!DOCTYPE html>
<html>
<head>
	
	<title>{$pageTitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="{$pageKeyword}" />
    <meta name="description" content="{$pageDescription}" />
    <meta property="qc:admins" content="056127767762715633" />
	<link type="text/css" rel="stylesheet" href="/Static/default/css/global.css" />	
	<link type="text/css" rel="stylesheet" href="/Static/default/css/waterfall.css" />	
	<link type="text/css" rel="stylesheet" href="/Static/default/css/dialog.css"  />	
	
	<script type="text/javascript" src="/Static/default/js/jquery.js"></script>
	<script type="text/javascript" src="/Static/default/js/common.js"></script>
</head>
<body>
	<div id="page">

		{include file="Common/top.tpl"}