extends header
block content
	.chat-panel
			.chat-header
				h5 聊天
				.chat-close
					i.icon-remove.icon-large
			.chat-content
				.chat-profile
					img.avatar(src="http://pics.julejie.com/#{userinfo.avatar1}")
					span
						a(href="/user/#{userinfo.uid}") #{userinfo.uname}

				.chat-blank-line
				
				ul#chat-tab-v.nav.nav-tabs
					- if(tab=='session')
						li.active
							a(href='/nodejs/session',data-toggle="tab")
								i.icon-comment.icon-2x
						li
							a(href="/nodejs/",data-toggle="tab")
								i.icon-user.icon-2x
						li
							a(href="/nodejs/event",data-toggle="tab")
								i.icon-flag.icon-2x
					- else if(tab=='event')
						li
							a(href='/nodejs/session',data-toggle="tab")
								i.icon-comment.icon-2x
						li
							a(href="/nodejs/",data-toggle="tab")
								i.icon-user.icon-2x
						li.active
							a(href="/nodejs/event",data-toggle="tab")
								i.icon-flag.icon-2x
					- else
						li
							a(href='/nodejs/session',data-toggle="tab")
								i.icon-comment.icon-2x
						li.active
							a(href="/nodejs/",data-toggle="tab")
								i.icon-user.icon-2x
						li
							a(href="/nodejs/event",data-toggle="tab")
								i.icon-flag.icon-2x
				.clear
				.tab-content
					block tab-content