extends header
block content
	.chat-window
			.chat-header
				h5 聊天
				.chat-close
					i.icon-remove.icon-large
			.chat-viewbox
				.chat-viewport
					block chat-window
				.chat-content
					.chat-profile
						img.avatar(src="http://pics.julejie.com/#{userinfo.avatar1}")
						span
							a(href="/user/#{userinfo.uid}") #{userinfo.uname}

					.chat-blank-line
					ul#chat-tab-v.nav.nav-tabs
						li.active
							a(href='javascript:void(0);',data-toggle="tab",onclick="sessionChannel()")
								i.icon-comment.icon-2x
						li
							a(href="javascript:void(0);",data-toggle="tab",onclick="friendChannel()")
								i.icon-user.icon-2x
						li
							a(href="javascript:void(0);",data-toggle="tab",onclick="eventChannel()")
								i.icon-flag.icon-2x
					.clear
					.tab-content
						block tab-content